//localhost:3000/users/profile
extends ../layout
block content

	center
		form(method='POST' action='/users/update?_method=PUT')
			p
			| Nom : 
			input(type='text', placeholder='nom', name="nom")
			p
			| 	Prenom : 
			input(type='text', placeholder='prenom', name="prenom")
			p
			| 	Pseudo : 
			input(type='text', placeholder='pseudo', name="pseudo")
			p
			|   Email : 
			input(type='email', placeholder='email', name="email")
			p
			|   Mot de passe : 
			input(type='password', placeholder='password', name="password")
			p
			button(type='submit')  modifications 