extends layout
bloque content
html
  head
    meta(charset='UTF-8')
    | &#x9;
    title= title
  body
    button(type='submit')  connexion 

/*

en haut le nom du blog

en haut a gauche le button pour connection 'sign in' 'sign up'

puis une longue bar de recherche pour button recherche et en sur inpression ecrire un pseudo ou un article
coder toute les possibilité de recherche dans le controllers

au milieu afficher divers article (des a la une !)

article ressenblera :
- une photo
-la personne qui la ecrite 
-le titre de article
-l heure ou il a ete publier
-le nombre de commentaire


*/

