html
  head
    meta(charset='UTF-8')
    | &#x9;
    title connexion
  body
    form(action='#', methode='post')
      input(type='text', placeholder='adress e-mail')
      | &#x9;
      input(type='password', placeholder='mot de passe')
      | &#x9;
      button(type='submit')  connexion 
      | &#x9;
      button(type='submit')  inscription 