html
  head
    meta(charset='UTF-8')
    | &#x9;
    title inscription
  body
    form(action='/users/', methode='post')
      input(type='text', placeholder='pseudo')
      | &#x9;
      input(type='e-mail', placeholder='adress e-mail')
      | &#x9;
      input(type='password', placeholder='mot de passe')
      | &#x9;
      input(type='password', placeholder='comfirmer mot de passe')
      | &#x9;
      button(type='submit')  inscription 